.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:50%;
    left:50%;
    right:9%;
    text-align:end;
  }

.carousel-item {
    filter:brightness(40%); 
}

.nav-link {
    color:grey;
}

#comprartickets {
    color:forestgreen;
}

.text-bg-info {
    text-emphasis-color: white;
}

#bsasoctubre { 
    border-radius: 0;}

    #enviar{
        background-color:yellowgreen ;
    border-radius: 5px;
    border-color: yellowgreen;
}
#footer{
    background-image: linear-gradient(to right, rgb(1, 23, 46) , rgb(0, 69, 115));
}